  <div class="app-container">
    <mat-toolbar class="top-toolbar" color="primary" >
      <span>James Wells Sensat Angular Exercise</span>
    </mat-toolbar>
    <div class="app-content">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Table of Sensor Readings"><app-table-view></app-table-view></mat-tab>
        <mat-tab label="Chart of Sensor Readings"><app-graph-view></app-graph-view></mat-tab>
      </mat-tab-group>
    </div>
    <mat-toolbar class="footer" color="primary">
    </mat-toolbar>
  </div>
