table {
  width: 100%;
}

.content-container{
  padding-bottom: 20px
}

.table-container {
  width: 80%;
  min-width: 800px;
  margin-left: 10%;
  overflow-x: auto;
}

.input {
  width: 100%;
}

.filter-container{
  width: 80%;
  min-width: 800px;
  margin-left: 10%;
}
